$color-light-blue: #3F51B5;
$list-hightlight-color: #3F51B5;
$background-grey: #e5e5e5;
$color-orange: #FBC02D;
$color-light-grey: #e5e5e5;
$color-green: #65c765;

$color-text: #999;
$color-text-dark: #333;

body {
    height: 100%;
    background-color: $background-grey;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}
.pb-load {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    &__title {
        display: block;
        text-align: center;
        font-size: 32px;
        line-height: normal;
        color: #999;
    }
}
.pb-app {
    display: block;
    position: relative;
    padding-top: 30px;
    background-color: $background-grey;
}
.pb-wrap {
    width: 960px;
    margin: 0 auto;
    position: relative;
}
.pb-indent-top-m {
    margin-top: 30px;
}
.pb-indent-top-s {
    margin-top: 20px;
}
.pb-indent-top-xs {
    margin-top: 10px;
}
.pb-scroll-off {
    overflow: hidden !important;
}
.pb-main-slider {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    @include transition(transform ease 0.5s);
    @include transform(translateZ(0));

    &__page {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        height: 100%;
        font-size: 16px;
        line-height: normal;
        white-space: normal;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
    }
    &.shifted-to-left {
        @include transform(translateX(-100vw));
    }
}

// INPUT
.pb-input {
    width: 100%;
    padding: 4px 0 5px;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid $color-light-grey;
    font-size: 16px;
    line-height: 20px;
    @include transition(border ease 0.4s);

    &:focus {
        outline: none;
        border-bottom: 1px solid $color-green;
    }
}