body {
    background-color: #e5e5e5;
    font-family: sans-serif;
    overflow-x: hidden;
}
.pb-load {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    &__title {
        display: block;
        text-align: center;
        font-size: 32px;
        line-height: normal;
        color: #999;
    }
}
.pb-app {
    display: block;
    position: relative;
}
.pb-wrap {
    width: 960px;
    margin: 0 auto;
    position: relative;
}
.pb-indent-top-m {
    margin-top: 30px;
}
.pb-indent-top-s {
    margin-top: 20px;
}
.pb-indent-top-xs {
    margin-top: 10px;
}

/*===== HEAD =====*/
.pb-head {
    display: block;
    width: 100%;
    padding: 11px 20px;
    box-sizing: border-box;
    background-color: #0288d1;
    text-align: justify;
    text-justify: newspaper;
    -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 4px 0;
    box-shadow: rgba(0,0,0,0.3) 0 1px 4px 0;

    &__wrap {
        display: block;
        font-size: 0;
        line-height: 0;

        &:after {
            content: '';
            display: inline-block;
            vertical-align: top;
            width: 100%;
        }
    }
    &__col {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        line-height: normal;
    }
    &__col--align-left {
        text-align: left;
    }
    &__col--align-right {
        text-align: right;
    }
    &__title {
        display: block;
        color: #fff;
        font-size: 24px;
        line-height: normal;
    }
    &__button {
        display: block;
        font-size: 28px;
        color: #fff;
        cursor: pointer;
    }
}
/*===== HEAD - END =====*/

/*===== CONTACTS =====*/
.pb-list {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;

    &__row {
        display: block;
        margin-top: 5px;
        padding: 5px 10px;
        font-size: 0;
        line-height: 0;
        text-align: left;
        background-color: #fff;
        -webkit-box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
        box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);

        &:first-child {
            margin-top: 0;
        }
    }
    &__col {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        line-height: normal;
    }
    &__avatar {
        display: block;
        width: 40px;
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 40px;
        border-radius: 40px;
    }
    &__text {
        display: block;
        font-size: 16px;
        line-height: normal;
    }
    &__icon {
        display: block;
        font-size: 28px;
        line-height: normal;
        color: #000;
    }
}
/*===== CONTACTS - END =====*/